<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NOTIFICATION_MANAGER" />
    <uses-permission android:name="com.dosse.airpods.permission.ACCESS_AIRPOD_INFORMATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Monospace"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name=".MainActivity" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER_APP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:taskAffinity=""/>
        <receiver
            android:name=".receiver.AppPackageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name=".receiver.NotificationReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.BatteryReceiver"
            android:exported="false"
            android:label="Monospace Battery Manager" />
        <receiver
            android:name=".receiver.BluetoothReceiver"
            android:exported="true"
            android:label="Monospace Bluetooth Manager">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AirpodReceiver"
            android:exported="true"
            android:permission="com.dosse.airpods.permission.ACCESS_AIRPOD_INFORMATION">
            <intent-filter>
                <action android:name="com.dosse.airpods.status" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>